<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!––<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">––>

    <style>
        a {
            background-color: dodgerblue;
            color: white;
            padding: 1em 1.5em;
            text-decoration: none;
            text-transform: uppercase;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        
        li {
          display: inline;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </ul>
<h1>Welcome to Heartware</h1>
<h3>Select A Login</h3>
<a href="customer_login.html">Customer</a><br><br><br>
<a href="employee_login.html">Employee</a>
</body>
</html>